In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/aps_20240130/author_names.csv')
df.head(2)

   id_author_name  id_author          name gender_nq
0               0          0    S. Megtert         -
1               1          1  Aleksa Bjeli         -

In [3]:
col = 'last_name'
df.loc[:,col] = df.loc[:,'name'].apply(lambda x: x.split(' ')[-1])
df.head(2)

   id_author_name  id_author          name gender_nq last_name
0               0          0    S. Megtert         -   Megtert
1               1          1  Aleksa Bjeli         -     Bjeli

In [29]:
indexes = df.query("name.str.endswith('oa')").index
df.loc[indexes, 'newcol'] = df.loc[indexes, 'newcol'].apply(lambda v: [])

In [31]:
df

,id_author_name,id_author,name,gender_nq,last_name,newcol
0,0,0,S. Megtert,-,Megtert,NaN
1,1,1,Aleksa Bjeli,-,Bjeli,NaN
2,2,1,A. Bjeli,-,Bjeli,NaN
3,3,2,J. Przystawa,-,Przystawa,NaN
4,4,3,Jerzy Przystawa,gm,Przystawa,NaN
...,...,...,...,...,...,...
948766,948766,874551,Mihai Gabureac,gm,Gabureac,NaN
948767,948767,874552,Johannes Heinsoo,gm,Heinsoo,NaN
948768,948768,874553,Alexandre Blais,gm,Blais,NaN
948769,948769,874554,Christopher Eichler,gm,Eichler,NaN
948770,948770,874555,Andreas Wallraff,gm,Wallraff,NaN

In [4]:
df.shape

(948771, 5)

In [5]:
import sys
sys.path.append('../code')
from libs import ethnicity

2025-01-17 20:04:20.770337: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-01-17 20:04:20.822785: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2025-01-17 20:04:20.822820: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2025-01-17 20:04:20.824150: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-01-17 20:04:20.832194: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-01-17 20:04:21.878336: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [6]:
new_col = 'ethnicity'
df2 = ethnicity.ec_predict_ethnicity(df, col, new_col)
df2.shape

/code/espinl/LLMScholar-WWW24/APS/notebooks/../code/libs/ethnicity.py:59: FutureWarning: The behavior of DataFrame.idxmax with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  max_column = ethnicity_values.idxmax(axis=1)
100%|██████████| 156022/156022 [00:00<00:00, 1172636.19it/s]

(948771, 6)

In [7]:
df2.head(10)

,id_author_name,id_author,name,gender_nq,last_name,ethnicity
0,0,0,S. Megtert,-,Megtert,Unknown
1,1,1,Aleksa Bjeli,-,Bjeli,Unknown
2,2,1,A. Bjeli,-,Bjeli,Unknown
3,3,2,J. Przystawa,-,Przystawa,Unknown
4,4,3,Jerzy Przystawa,gm,Przystawa,Unknown
5,5,4,S. Bariić,-,Bariić,Unknown
6,6,5,Peter Anninos,gm,Anninos,white
7,7,5,P. Anninos,-,Anninos,white
8,8,6,Cécile DeWitt-Morette,gf,DeWitt-Morette,Unknown
9,9,6,Cecile DeWitt-Morette,gf,DeWitt-Morette,Unknown

In [17]:
df = df.merge(data, on='lastname', how='left')
df.shape

(948771, 11)

In [15]:
data.head(100).lastname.nunique(), data.shape

(42, (42, 11))

In [5]:
df.rename(columns={'id_author': 'id_author_aps'}, inplace=True)
df.head(2)

   id_author_name  id_author_aps          name gender_nq
0               0              0    S. Megtert         -
1               1              1  Aleksa Bjeli         -

In [10]:
df.head(10).groupby('id_author_aps').apply(lambda group: group.gender_nq.values)

/tmp/ipykernel_1585295/1916056318.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.head(10).groupby('id_author_aps').apply(lambda group: group.gender_nq.values)

id_author_aps
0         [-]
1      [-, -]
2         [-]
3        [gm]
4         [-]
5     [gm, -]
6    [gf, gf]
dtype: object

In [12]:
df.head(10).groupby('id_author_aps').apply(lambda group: 'gf' in group.gender_nq.values)

/tmp/ipykernel_1585295/8105086.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.head(10).groupby('id_author_aps').apply(lambda group: 'gf' in group.gender_nq.values)

id_author_aps
0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [18]:
df.head(10).groupby('id_author_aps').gender_nq.apply(lambda group: 'gm' in group.values).reset_index()

   id_author_aps  gender_nq
0              0      False
1              1      False
2              2      False
3              3       True
4              4      False
5              5       True
6              6      False