In [1]:
import sys
sys.path.append('../code/')

In [2]:
%load_ext autoreload
%autoreload 2

from libs import io
from libs import constants
from libs.pca_similarity import PCASimilarityModel, fit_pca_similarity

[2026-01-29 16:32:34] Error: The file ../../../LLMCaller/config/llm_setup.json was not found.
Available LLMs: (24): llama-3.3-8b llama-4-scout llama-4-mav gpt-oss-20b gpt-oss-120b qwen3-8b qwen3-14b qwen3-32b qwen3-30b-a3b-2507 qwen3-235b-a22b-2507 gemma-3-12b gemma-3-27b mistral-small-3.2-24b mistral-medium-3 llama-3.1-70b llama-3.3-70b llama-3.1-405b grok-4-fast deepseek-chat-v3.1 deepseek-r1-0528 gemini-2.5-flash gemini-2.5-flash-grounded gemini-2.5-pro gemini-2.5-pro-grounded

In [3]:
APS_OA_DATA_TAR_GZ = '../../APS/data/final_dataset.tar.gz'
MODEL_FN = '../results/augmented_aps/pca_cosine_similarity_model.joblib'

In [4]:
df_author_stats = io.read_file_from_tar_gz_as_dataframe(APS_OA_DATA_TAR_GZ, constants.APS_OA_AUTHORS_STATS_FN)
df_author_stats.rename(columns={'id_author': 'id_author_oa'}, inplace=True)
df_author_stats.shape

(481012, 30)

In [5]:
df_author_stats.head(2)

,id_author_oa,created_date,updated_date,name,orcid,two_year_mean_citedness,h_index,i10_index,works_count,cited_by_count,...,rr3_rank_h_index,rr3_rank_h_index_percentile,rr4_rank_i10_index,rr4_rank_i10_index_percentile,rr5_rank_e_index,rr5_rank_e_index_percentile,rr6_rank_citation_publication_age,rr6_rank_citation_publication_age_percentile,rr7_rank_mean_citedness_2yr,rr7_rank_mean_citedness_2yr_percentile
0,5026494099,2023-07-21,2024-11-06T01:43:50.253103,Axel Kohlmeyer,0000-0001-6204-6475,1956.0,19,22,34,7006,...,120717.0,74.903745,151545.0,68.494757,NaN,NaN,2482.0,99.484212,1.0,100.000000
1,5056736617,2023-07-21,2024-11-02T00:07:45.799078,Ken‐ichi Hikasa,0000-0002-9183-0207,1336.0,37,62,105,49751,...,41496.0,91.373396,68521.0,85.755033,389.0,99.919337,142583.0,70.357912,2.0,99.999792

In [6]:
df_author_aps_stats = io.read_file_from_tar_gz_as_dataframe(APS_OA_DATA_TAR_GZ, constants.APS_OA_AUTHOR_STATS_FN)
df_author_aps_stats.rename(columns={'id_author': 'id_author_oa'}, inplace=True)
df_author_aps_stats.shape

(481012, 9)

In [7]:
df_author_aps_stats.head()

,id_author_oa,aps_works_count,aps_cited_by_count,aps_h_index,aps_i10_index,aps_e_index,aps_years_of_activity,aps_career_age,aps_citations_per_paper_age
0,5053051063,39.0,321.0,8.0,11.0,30.160004,"[1967.0, 2019.0]",53.0,0.155298
1,5067224934,44.0,342.0,8.0,12.0,30.240997,"[1982.0, 2020.0]",39.0,0.199301
2,5012146130,26.0,138.0,7.0,3.0,18.737870,"[1999.0, 2020.0]",22.0,0.241259
3,5051894783,27.0,214.0,2.0,3.0,18.258722,"[2003.0, 2020.0]",18.0,0.440329
4,5041648606,10.0,30.0,5.0,0.0,7.000816,"[2004.0, 2013.0]",10.0,0.300000

In [8]:
df_author_stats.columns

Index(['id_author_oa', 'created_date', 'updated_date', 'name', 'orcid',
       'two_year_mean_citedness', 'h_index', 'i10_index', 'works_count',
       'cited_by_count', 'ID', 'e_index', 'career_age', 'max_year', 'min_year',
       'citations_per_paper_age', 'rr1_rank_publications',
       'rr1_rank_publications_percentile', 'rr2_rank_citations',
       'rr2_rank_citations_percentile', 'rr3_rank_h_index',
       'rr3_rank_h_index_percentile', 'rr4_rank_i10_index',
       'rr4_rank_i10_index_percentile', 'rr5_rank_e_index',
       'rr5_rank_e_index_percentile', 'rr6_rank_citation_publication_age',
       'rr6_rank_citation_publication_age_percentile',
       'rr7_rank_mean_citedness_2yr',
       'rr7_rank_mean_citedness_2yr_percentile'],
      dtype='object')

In [9]:
df_author_aps_stats.columns

Index(['id_author_oa', 'aps_works_count', 'aps_cited_by_count', 'aps_h_index',
       'aps_i10_index', 'aps_e_index', 'aps_years_of_activity',
       'aps_career_age', 'aps_citations_per_paper_age'],
      dtype='object')

In [ ]:
stats_columns = ['two_year_mean_citedness', 'h_index', 'i10_index', 'works_count',
                 'cited_by_count', 'e_index', 'career_age', 'max_year', 'min_year',
                 'citations_per_paper_age'] #10

In [ ]:
stats_aps_columns = ['aps_works_count', 'aps_cited_by_count', 'aps_h_index',
                     'aps_i10_index', 'aps_e_index', 'aps_years_of_activity',
                     'aps_career_age', 'aps_citations_per_paper_age'] #8

In [12]:
df_author_stats_all = df_author_stats.set_index('id_author_oa').join(df_author_aps_stats.set_index('id_author_oa'), how='left').copy()
df_author_stats_all.shape

(481012, 37)

In [13]:
df_author_stats_all.reset_index(inplace=True)
df_author_stats_all.head(2)

,id_author_oa,created_date,updated_date,name,orcid,two_year_mean_citedness,h_index,i10_index,works_count,cited_by_count,...,rr7_rank_mean_citedness_2yr,rr7_rank_mean_citedness_2yr_percentile,aps_works_count,aps_cited_by_count,aps_h_index,aps_i10_index,aps_e_index,aps_years_of_activity,aps_career_age,aps_citations_per_paper_age
0,5026494099,2023-07-21,2024-11-06T01:43:50.253103,Axel Kohlmeyer,0000-0001-6204-6475,1956.0,19,22,34,7006,...,1.0,100.000000,1.0,0.0,0.0,0.0,0.000000,"[2004.0, 2004.0]",1.0,0.000000
1,5056736617,2023-07-21,2024-11-02T00:07:45.799078,Ken‐ichi Hikasa,0000-0002-9183-0207,1336.0,37,62,105,49751,...,2.0,99.999792,30.0,485.0,14.0,18.0,48.175708,"[1981.0, 2018.0]",38.0,0.425439

In [14]:
# Example:
cols = stats_columns + stats_aps_columns
model = fit_pca_similarity(df_author_stats_all[['id_author_oa'] + cols], 
                           id_col="id_author_oa", 
                           explained_variance_target=0.9, 
                           use_log1p=True,
                           l2_normalize_embedding=True,
                           compute_rbf_sigma=False)
model.save(MODEL_FN)

In [15]:
id1 = 5026494099
id2 = 5056736617

model = PCASimilarityModel.load(MODEL_FN)

# Pairwise similarity (IDs are values in df["scientist_id"]):
print(model.cosine_sim(id1, id2))

# Top-20 neighbors:
print(model.topk_similar(id1, k=20, method="cosine"))

0.5918486958516874
[(np.int64(5004026566), 0.9848365787298214), (np.int64(5108098872), 0.9836555628621682), (np.int64(5004539806), 0.9790580050482279), (np.int64(5073498841), 0.975580893929755), (np.int64(5107838638), 0.9751264738753147), (np.int64(5005979945), 0.9741714720646891), (np.int64(5086695342), 0.9737559456516072), (np.int64(5044774812), 0.9733130527854622), (np.int64(5044576382), 0.9709633408146184), (np.int64(5104102021), 0.970150822749839), (np.int64(5047194086), 0.9693752327794231), (np.int64(5107893497), 0.9691615330024622), (np.int64(5037192369), 0.9690991650400071), (np.int64(5107858497), 0.9687912592422623), (np.int64(5011835074), 0.9664492716838265), (np.int64(5034893508), 0.9662987046829123), (np.int64(5044827937), 0.9658444527034549), (np.int64(5084527745), 0.9655756360460139), (np.int64(5064104059), 0.9641239134870447), (np.int64(5050481494), 0.9636335018980567)]

In [16]:
df_author_stats_all.query("id_author_oa in [ @id1, @id2 ]")

,id_author_oa,created_date,updated_date,name,orcid,two_year_mean_citedness,h_index,i10_index,works_count,cited_by_count,...,rr7_rank_mean_citedness_2yr,rr7_rank_mean_citedness_2yr_percentile,aps_works_count,aps_cited_by_count,aps_h_index,aps_i10_index,aps_e_index,aps_years_of_activity,aps_career_age,aps_citations_per_paper_age
0,5026494099,2023-07-21,2024-11-06T01:43:50.253103,Axel Kohlmeyer,0000-0001-6204-6475,1956.0,19,22,34,7006,...,1.0,100.000000,1.0,0.0,0.0,0.0,0.000000,"[2004.0, 2004.0]",1.0,0.000000
1,5056736617,2023-07-21,2024-11-02T00:07:45.799078,Ken‐ichi Hikasa,0000-0002-9183-0207,1336.0,37,62,105,49751,...,2.0,99.999792,30.0,485.0,14.0,18.0,48.175708,"[1981.0, 2018.0]",38.0,0.425439

## test

In [18]:
import numpy as np

def pairwise_pca_cosine_mean_std_from_model(model, ids):
    ids = list(ids)
    m = len(ids)
    if m < 2:
        return float("nan"), float("nan"), 0

    # map id -> index in embedding_
    id_to_idx = {sid: i for i, sid in enumerate(model.ids)}

    missing = [sid for sid in ids if sid not in id_to_idx]
    if missing:
        raise KeyError(f"IDs not present in model: {missing}")

    idx = np.array([id_to_idx[sid] for sid in ids], dtype=int)

    # rows are already PCA embeddings
    Z = model.embedding_[idx]

    # cosine similarity matrix (assumes L2-normalized embeddings)
    S = Z @ Z.T

    tri = np.triu_indices(m, k=1)
    sims = S[tri].astype(np.float64, copy=False)

    mean = float(sims.mean())
    std = float(sims.std(ddof=1)) if sims.size > 1 else 0.0
    return mean, std, int(sims.size)

In [19]:
ids = df_author_stats_all.id_author_oa.unique()[:5]

In [20]:
model = PCASimilarityModel.load(MODEL_FN)
v = pairwise_pca_cosine_mean_std_from_model(model, ids)
v

(0.7014502426024263, 0.201939758868151, 10)

In [21]:
df_author_stats_all.query("id_author_oa in @ids")[cols]

,two_year_mean_citedness,h_index,i10_index,works_count,cited_by_count,e_index,career_age,max_year,min_year,citations_per_paper_age,aps_works_count,aps_cited_by_count,aps_h_index,aps_i10_index,aps_e_index,aps_years_of_activity,aps_career_age,aps_citations_per_paper_age
0,1956.0,19,22,34,7006,NaN,1,2004,2004,206.058824,1.0,0.0,0.0,0.0,0.000000,"[2004.0, 2004.0]",1.0,0.000000
1,1336.0,37,62,105,49751,232.627911,38,2018,1981,12.468922,30.0,485.0,14.0,18.0,48.175708,"[1981.0, 2018.0]",38.0,0.425439
2,1336.0,0,38,60,20354,-0.000000,1,2018,2018,339.233333,0.0,0.0,0.0,0.0,0.000000,[],0.0,0.000000
3,1336.0,0,8,8,43557,1201.026904,7,2018,2012,777.803571,0.0,0.0,0.0,0.0,0.000000,[],0.0,0.000000
4,1336.0,15,120,48,28826,64.719095,29,2018,1990,20.708333,126.0,1967.0,15.0,63.0,72.232033,"[1990.0, 2020.0]",31.0,0.503584

In [22]:
ids = df_author_stats_all.sort_values('citations_per_paper_age', ascending=False).head(5).id_author_oa.unique()
v2 = pairwise_pca_cosine_mean_std_from_model(model, ids)
v2

(0.9905043318055526, 0.009412279451439687, 10)

In [23]:
df_author_stats_all.query("id_author_oa in @ids")[cols]

,two_year_mean_citedness,h_index,i10_index,works_count,cited_by_count,e_index,career_age,max_year,min_year,citations_per_paper_age,aps_works_count,aps_cited_by_count,aps_h_index,aps_i10_index,aps_e_index,aps_years_of_activity,aps_career_age,aps_citations_per_paper_age
301391,0.0,0,0,3,18658,-0.0,1,2018,2018,6219.333333,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0
361258,0.0,1,1,1,5843,-0.0,1,2012,2012,5843.000000,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0
361266,0.0,0,1,1,5843,-0.0,1,2012,2012,5843.000000,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0
361273,0.0,0,0,1,5843,-0.0,1,2012,2012,5843.000000,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0
395008,0.0,3,3,3,18658,-0.0,1,2018,2018,6219.333333,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0