In [1]:
import pandas as pd
import os
import glob

In [6]:
pattern = '../../results/interventions/factuality/*_epoch.csv'
files = [fn for fn in glob.glob(pattern)]
len(files)

24

In [7]:
df = pd.concat([pd.read_csv(f) for f in files])
df.shape

(63758, 25)

In [8]:
df.head(2)

,original_index,model,temperature,grounded,llm_model,date,time,task_name,task_param,task_attempt,...,valid_attempt,id_author_oa,year_first_publication,year_last_publication,fact_epoch_requested,fact_epoch_llm_in_gt,fact_epoch_gt_in_llm,fact_epoch_overlap,fact_epoch_intersection_length,fact_epoch_jaccard_sim
0,1339,gemma-3-27b,0.25,False,google/gemma-3-27b-it,2025-12-19,08:00,epoch,1950s,1,...,True,5.053459e+09,1932.0,1954.0,-1,True,False,True,4.0,0.181818
1,1340,gemma-3-27b,0.25,False,google/gemma-3-27b-it,2025-12-19,08:00,epoch,1950s,1,...,True,5.075739e+09,1935.0,1999.0,-1,True,False,True,10.0,0.156250

In [9]:
metric_col = 'fact_epoch_requested'
df[metric_col].value_counts()

fact_epoch_requested
-1       39204
-2       13234
False     4646
True      3641
False     2259
Name: count, dtype: int64